.ul1 .de{
    margin-left: 2px;
/*     background-color: rgba(0, 0, 0, 0.9);   */
    text-align: center;  
    width:150px;
}

.ul1 .de a{
    text-decoration: none;     
    padding: 5px 8px;   
    display:block;
    color:white;
    font-size:12px;
    font-weight: bold;    
    width: 100%;
}
.ul2 .content{
    /* margin-left: 2px; */
/*     background: blue;   */
    text-align: center;  
    width:150px;
}
.ul2 .content a{
    text-decoration: none;     
    padding: 5px 8px;   
    display:block;
    color:black;
    font-size:12px;
    font-weight: bold;    
    width: 100%;
}
