@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
  
.rightbar{
  right: -614px;
  background: #3f3a37;
  position: fixed;
  top: 0;
  width: 614px;
  height: 100%;
  padding: 20px 0;
  transition: all 0.5s ease;
  overflow-y: auto;
}  

  .ham-icon {
    position: absolute;
    left: 13px;
    color: #FFFFFF;
  }
  .closebtn {
    display: flex;
    align-items: center;
    font-size: 1em;
    border-radius: 6px;
}
  .fade-enter,
  .fade-leave-to {
    opacity: 0;
    transform: translateX(100px);
  }

  .fade-enter-active {
    transition: all 0.3s ease;
  }
  .fade-leave-active {
    transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
  }
  /* .header .rightbar {
    display: none;
  } */
  .toggle-nav {
    /* display: block; */
    /* position: relative;
    left: 4%;
    top: 30%; */
    color: #ffffff;
    
    line-height: 40px;
  }
  .toggle-nav:hover{
    text-decoration: none;
    cursor: pointer;
    color: #FF9900;
  }
  .navbar-toggler{
    color: #ffffff;
  }
  .navbar-toggler-name{
    display: flex;
    align-items: center;
    height: 54px;
    color: #00174d;
    font-size: 19px;
    text-decoration: none;
    background-image: linear-gradient(#00174d, #00174d);
    background-position: left bottom;
    background-size: 0 2.5px;
    background-repeat: no-repeat;
    transition: background-size 0.15s;
    /* font-size: small; */
  }
  .navbar-toggler button{
    margin-right: 10px;
    height: 50px;
  }
.navbar-toggler a:hover{
  text-decoration: none;
  color: #FF9900;
  cursor: pointer;
}
.section{
  position: relative;
  margin-right: 0;
	width: 100%;
  
}
.top_navbar{
  display: flex;
	align-items: center;
	padding: 0 30px;
}
body.active  .rightbar{
  background: #3f3a37;
  position: fixed;
  top: 0;
  right: 0;
  width: 614px;
  height: 100%;
  padding: 20px 0;
  transition: all 0.5s ease;
  overflow-y: auto;
}

body.active .section{
	width: calc(100% - 614px);
	margin-right: 614px;
	transition: all 0.5s ease;
}

.data{
  position: absolute;
  left: 0;
  top: -100%;
  width: 100%;
  max-height: 0px;
  transition: all 0.8s;
  overflow: hidden;
  z-index: 120;
}
.search.active .data{
  top: 27%;
  max-height: 130px;
}
.search.active{
  padding-bottom: 130px;
}
.loginbtn{
  display: flex;
  align-items: center;
}
.navbar-toggler.active .loginbtn{
  display: none;
}
.logoutbtn{
  display: none;
}
.navbar-toggler.active .logoutbtn{
  display: flex;
  align-items: center;
}
.navbar-toggler-name:hover{
  background-size: 100% 2.5px;
}
.closebtn.active .navbar-toggler-name{
  display: none;
}