/* register.html註冊頁面 */

#register{
    background-color: $color-grey-2;
    color: black;
    margin: 2px;
}

h3{
    border-bottom: 2px solid black;
}

.main-container{
    background-color: $color-grey-1;
}